/* ==========================================================================
   Insert Your Custom Styles Below. All styles located in this file will
   override existing main.css stylesheets.
   ========================================================================== */

#content h1 { color:#38C8E0; font-size:29px; line-height:35px; letter-spacing:-1px; }
#content h2 { color:#38C8E0; }
.blog-post .metadata p { display:inline-block; }
.blog-posts { margin:0; list-style-type:none; }

.comment-list { margin-left:0; list-style-type:none; }
.comment a { font-weight:200; }
.lead-meta { font-size:12px; }
ul.media { list-style-type:none; }
.blog-post-detail-body { border-bottom: 1px dotted #E4E4E4; padding-bottom: 40px; margin-bottom:30px; }
.post-comment legend { border:0; font-size: 21px; font-weight: 200; line-height: 30px; font-family:'Open Sans', sans-serif; margin-top:20px; }
.post-comment ol { list-style-type:none; margin-left:0; }
.post-comment input[type="text"], .post-comment textarea { width:90%; }

.pager { text-align:left; padding-left:75px; }
.pager li { margin-left:-4px; }
.pager li > a, .pager li>span { padding:10px 19px; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; border:0; background-color:#F1F4F5; }
.pager li > a:hover, .pager li>span { background-color:#E4E9EA;}

/* Edit Mode Widgets */
/* These are the edit controls that appear when you're logged-in */
.widget-control { position: relative; border: 1px dotted #5f97af; }
.widget-control .manage-actions { position:absolute; top: 0px; right: 0px; z-index:101; }
.widget-control .manage-actions a { display: block; background-color: #dbdbdb; color: #434343; padding: 3px 6px;  }
.widget-control .manage-actions a:hover { background-color: #434343; color: #fff; text-decoration: none; }

/* Content Mode */
.content-control { border: 1px dotted #5f97af; overflow:auto; position: relative; }
.content-control .manage-actions { position:absolute; top: 0px; right: 0px; z-index:101; }
.content-control .manage-actions a { display: block; background-color: #dbdbdb; color: #434343; padding: 3px 6px;  }
.content-control .manage-actions a:hover { background-color: #434343; color: #fff; text-decoration: none; }
