<div class="meta">
  <hr />
  <span class="halflings calendar metaText"><i></i> @Display.PublishedState(createdDateTimeUtc: Model.ContentPart.CreatedUtc, publisheddateTimeUtc: Model.ContentPart.PublishedUtc)</span>
  <span class="halflings user metaText"><i></i> @Model.ContentPart.Owner.UserName</span>

  @*<script type="text/javascript">
        $('.meta').parents('div.metadata').addClass('well');
    </script>*@
