<div class="meta">
  <span class="halflings calendar metaText"><i></i> @Display.PublishedState(createdDateTimeUtc: Model.ContentPart.CreatedUtc, publisheddateTimeUtc: Model.ContentPart.PublishedUtc) </span>
  <span class="halflings user metaText"><i></i> @Model.ContentPart.Owner.UserName </span>
</div>
@*<script type="text/javascript">
      $('.meta').parents('div.metadata').addClass('well');
  </script>*@