@*
    ErrorPage(string Message, Exception Exception)
*@

<article class="post">
  <p style="text-align:center"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, /Images/500-denzel.gif"))" /></p>
  <p>@T("BOOM! Well, that isn't expected. Of course it wasn't expected, it wouldn't be an error if it was expected!").Text</p>
  <p>@T("OK, so this doesn't help you right now, but rest assured the error has been logged and I'll get to the bottom of it soon. Sorry for the inconvenience! Until then you can try to refresh the page. If the error persists, go back").Text</p>
</article>
<script type="text/javascript">
  $(document).ready(function($){
    $("#promo-block-text").html('<div class="zone zone-featured"><h1>500 - Unexpected Server Error</h1></div>');
  });
</script>
