@using Orchard.Blogs.Extensions;
@using Orchard.Blogs.Models;

@{
  var dateTimeLocalization = WorkContext.Resolve<Orchard.Localization.Services.IDateTimeFormatProvider>();
  var monthNames = dateTimeLocalization.MonthNames.ToArray();

  var archivePageTitle = T("{0} {1}", monthNames[Model.ArchiveData.Month - 1], Model.ArchiveData.Year.ToString());
  var headingString = T("{0} Blog Posts", @archivePageTitle);
  var subHeadingString = T("All blog posts that were published in {0}. To view posts from other months, use the archive control in the right-hand sidebar to pick the specified month from the specified year.", @archivePageTitle);
}
<script type="text/javascript">
  // update the page heading (hack)
  $("#promo-block-text").html("<h1>@headingString</h1><p>@subHeadingString</p>");
</script>
@Display(Model.ContentItems)