@{
    Layout.Title = Model.Title;

    Html.AddTitleParts(T("Contact Form").ToString());
    var headingString = T("Contact Form");
    var subHeadingString = T("Use this form to submit a message to me.");
}
<h1 id="ThisPageTitle">@Model.Title</h1>
<script type="text/javascript">
  // update the page heading (hack)
  $("#promo-block-text").html("<h1>@headingString</h1><p>@subHeadingString</p>");
  // fix if user hits page with JS enabled, hide H1 below, otherwise (like if
  // search bot hits page, leave it showing)
  $("#ThisPageTitle").hide();
</script>
