@{
  var tagsHtml = new List<IHtmlString>();
  foreach (var t in Model.Tags) {
    tagsHtml.Add(Html.ActionLink((string)t.TagName, "Search", "Home", new { area = "Orchard.Tags", tagName = (string)t.TagName }, new { }));
  }
}

@if (tagsHtml.Any()) {
  <ul class="tagcloud" style="padding: 0px;">
    @foreach (var htmlString in tagsHtml) { 
      <li class="tagcloud-tag">@htmlString</li>
    }
  </ul>
}