@{
  Model.PreviousText = T("Prev");
  Model.NextText = T("Next");

  var routeData = new RouteValueDictionary(ViewContext.RouteData.Values);
  var queryString = ViewContext.HttpContext.Request.QueryString;
  if (queryString != null) {
    foreach (string key in queryString.Keys) {
      if (key != null && !routeData.ContainsKey(key)) {
        var value = queryString[key];
        routeData[key] = queryString[key];
      }
    }
  }

  if (routeData.ContainsKey("id") && !HasText(routeData["id"])) {
    routeData.Remove("id");
  }


  Model.Metadata.Type = "Pager_Links";
  IHtmlString pagerLinks = Display(Model);

  Model.Classes.Add("selector");
  var pageSizeTag = Tag(Model, "ul");

  if (Model.RouteData != null) {
    foreach (var rd in Model.RouteData.Values) {
      routeData[rd.Key] = rd.Value;
    }
  }
}
@if (Model.TotalItemCount > 1) {
  <div class="pagination pagination-right">
    @pagerLinks
  </div>
}