@using Orchard.Utility.Extensions;
@{
  if (Model.Title != null) {
    Layout.Title = Model.Title;
  }

  var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();

  Model.Content.Add(New.SocialSharingControls(), "5");
}
<article class="post">
  <header>
    @Display(Model.Header)
    @if (Model.Meta != null) {
      <div class="meta">
        @Display(Model.Meta)
      </div>
    }
  </header>
  <div class="articleContent">
    @Display(Model.Content)
  </div>
  @if (Model.Footer != null) {
    <footer>
      @Display(Model.Footer)
    </footer>
  }
</article>