@{
  Orchard.ContentManagement.ContentItem contentItem = Model.ContentPart.ContentItem;
  string title = Model.Title.ToString();
}

<h2 class="noBottomBorder">@Html.ItemDisplayLink(title, contentItem)</h2>