<div style="margin: 15px 0 15px">
  <div class="pw-widget pw-size-medium" pw:image="[IMAGEURL]">
    <a class="pw-button-twitter pw-counter"></a>
    <a class="pw-button-facebook pw-counter"></a>
    <a class="pw-button-googleplus pw-counter"></a>
    <a class="pw-button-linkedin pw-counter"></a>
    <a class="pw-button-pinterest pw-counter"></a>
    <a class="pw-button-email"></a>
  </div>
  <script src="http://i.po.st/share/script/post-widget.js#publisherKey=mfvq4m1vdnb0bdnda8f7" type="text/javascript"></script>
</div>

