@{
  var homeUrl = Href("~/");
}
<ul class="social-icons">
  <li><a class="twitter" href="http://www.twitter.com/mscloudshow" title="Follow us on Twitter" target="_blank"><i class="icon-twitter icon-3x"></i></a></li>
  <li><a class="facebook" href="https://www.facebook.com/MicrosoftCloudShow" title="Follow us on Facebook" target="_blank"><i class="icon-facebook icon-3x"></i></a></li>
  <li><a class="rss" href="http://feeds.microsoftcloudshow.com/MicrosoftCloudShow" title="Subscribe to the show blog" target="_blank"><i class="icon-rss icon-3x"></i></a></li>
  <li><a class="rss" href="http://feeds.microsoftcloudshow.com/MicrosoftCloudShowEpisodes" title="Subscribe to the podcast feed" target="_blank"><i class="icon-microphone icon-3x"></i></a></li>
  <li><a class="apple" href="https://itunes.apple.com/us/podcast/microsoft-cloud-show/id731565415" title="Subscribe to the podcast in iTunes" target="_blank"><i class="icon-apple icon-3x"></i></a></li>
</ul>

<p>
  &copy; Copyright <a href="@homeUrl">@WorkContext.CurrentSite.SiteName</a>. All Rights Reserved.<br />
  <em>Microsoft, Windows Azure, SharePoint &amp; Office 365 are registered trademarks of Microsoft Corporation. &amp; Amazon Web Services &amp; AWS are registered trademarks of Amazon Corporation.</em>
</p>
