pre.prettyprint, code.prettyprint {
  background-color: #eee;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

pre.prettyprint {
  width: 95%;
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
}

/*code in content*/
pre, code, tt {
  font: 14px 'andale mono', 'lucida console', monospace;
  line-height: 1.462em;
  white-space: pre;
  width: auto;
  vertical-align: middle;
}

p code, li code {
  background-color: #eee;
  padding: 3px 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 2px;
  white-space: nowrap;
  width: auto;
}